
@{
    Layout = null;
}

<section id="latest-news">
    <div class="container wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-archive-area">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="blog-archive-left">
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    <a class="circle" href="@Url.Action("Panjur","Home")">
                                        <img src="~/Content/images/jaluzi.png" class="vectorboyut" />
                                    </a>
                                    <div style="text-align:center"><a href="@Url.Action("Panjur","Home")">PANJUR</a></div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    <a href="@Url.Action("Kapi","Home")" class="circle">
                                        <img src="~/Content/images/kapi.png" class="vectorboyut" />
                                    </a>
                                    <div style="text-align:center"><a href="@Url.Action("Kapi","Home")">KAPI</a></div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    <a href="@Url.Action("Dusakabin","Home")" class="circle">
                                        <img src="~/Content/images/korkuluk.png" class="vectorboyut" />
                                    </a>
                                    <div style="text-align:center"><a href="@Url.Action("Dusakabin","Home")">KORKULUK</a></div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    <a href="@Url.Action("CamSistemleri","Home")" class="circle">
                                        <img src="~/Content/images/cam.png" class="vectorboyut" />
                                    </a>
                                    <div style="text-align:center"><a href="@Url.Action("CamSistemleri","Home")">CAM</a></div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    <a href="@Url.Action("Sineklik","Home")" class="circle">
                                        <img src="~/Content/images/fly.png" class="vectorboyut" />
                                    </a>
                                    <div style="text-align:center"><a href="@Url.Action("Sineklik","Home")">SİNEKLİK</a></div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    <a href="@Url.Action("LaminantParke","Home")" class="circle">
                                        <img src="~/Content/images/parke.png" class="vectorboyut" />
                                    </a>
                                    <div style="text-align:center"><a href="@Url.Action("LaminantParke","Home")">PARKE</a></div>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

